@font-face {
  font-family: "steen";
  src: url(../fonts/BebasNeueRegular.otf) format("truetype");
}
@font-face {
  font-family: "steen";
  font-weight: bold;
  src: url(../fonts/BebasNeueBold.otf) format("truetype");
}
div {
  font-family: "steen";
  letter-spacing: 0.0625em;
}
a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:active {
  color: #000000;
}
.b-clear {
  clear: both;
}
#everything {
  width: 630px;
}
#everything .trenner .footer_line {
  width: 257px;
}
.round_corners {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
#everything {
  margin: auto;
}
#everything #header {
  margin-bottom: 15px;
  text-align: center;
}
#everything #header a {
  display: block;
}
#everything #header a #headerimg {
  height: 150px;
}
#everything #menu {
  height: 50px;
  margin-bottom: 15px;
}
#everything #menu #menu_container {
  margin: auto;
  width: 630px;
  height: 50px;
}
#everything #menu #menu_container .menu_item {
  float: left;
  height: 40px;
  width: 200px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #dddddd;
}
#everything #menu #menu_container .menu_item a {
  display: block;
  height: 100%;
  text-decoration: none;
  line-height: 40px;
  font-size: 30px;
  padding-top: 3px;
  font-weight: bold;
}
#everything #menu #menu_container .menu_item:hover {
  background-color: #bbbbbb;
}
#everything #menu #menu_container:after {
  clear: both;
}
#everything #content #current_video {
  border: 3px solid #000000;
  width: 624px;
  height: 348.375px;
  margin-bottom: 15px;
}
#everything #content #featured_videos {
  width: 630px;
  overflow: hidden;
}
#everything #content #featured_videos #video-1,
#everything #content #featured_videos #video-2 {
  margin-right: 45px;
}
#everything #content #featured_videos .featured_video {
  width: 174px;
  height: 97.875px;
  float: left;
  border: 3px solid #000000;
}
#everything #content #upcoming_gigs {
  margin-top: 45px;
  min-height: 50px;
  border: 3px solid #000000;
  margin-bottom: 25px;
}
#everything #content .content_box_container {
  width: 560px;
  margin: auto;
}
#everything #content .content_box_container #instagram_wall .il-photo__img {
  width: 234px;
  height: 234px;
  float: left;
}
#everything #content .content_box_container #instagram_wall .il-photo__meta {
  color: white;
  position: relative;
  top: -20px;
}
#everything #content .content_box_container #instagram_wall .il-photo__meta a {
  color: #ffeedd;
}
#everything #content .content_box_container #cd_box img {
  width: 234px;
  height: 234px;
}
#everything #content .content_box_container .content_box {
  width: 234px;
  height: 234px;
  border: 3px solid #000000;
  float: left;
  margin: 20px;
}
#everything #content .content_box_container #bandbild {
  width: 560px;
}
#everything #content .content_box_container #bandnames .bandname {
  width: 140px;
  float: left;
  text-align: center;
}
#everything #content .content_box_container #bandinfo {
  clear: both;
  width: 540px;
  padding: 10px;
  text-align: justify;
}
#everything #content .content_box_container .bigcartel-product {
  text-align: center;
  border: 3px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
}
#everything #content .content_box_container .bigcartel-product .bigcartel-title {
  font-size: 30px;
  padding-top: 15px;
}
#everything #content .content_box_container .bigcartel-product .bigcartel-content .bigcartel-image {
  width: 50%;
}
#everything .trenner {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  height: 50px;
}
#everything .trenner .middle_schleife {
  height: 50px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#everything .trenner .middle_schleife img {
  height: 50px;
}
#everything .trenner .footer_line {
  height: 6px;
  float: left;
  background-color: #000000;
  margin-top: 22px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
#everything .trenner .social {
  text-align: center;
}
#everything .trenner .impressium {
  text-align: center;
}
/*.dreieck {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 300px solid black;
  border-bottom: 6px solid transparent;
}*/
/*
.fernseher {
  position: relative;
  width: @smallwidth;
  height: (@smallwidth * 3 / 4);
  margin: 20px 0;
  background-color: black;
  border-radius: 50% 20% 50% 20%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

.fernseher:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}*/
